.featured-card{

    width:280px;

    background:#181c24;

    border:1px solid #2b3445;

    border-radius:22px;

    overflow:hidden;

    transition:.35s;

    cursor:pointer;

}

.featured-card:hover{

    transform:translateY(-10px);

    border-color:#00c853;

    box-shadow:0 20px 45px rgba(0,200,83,.18);

}

.featured-image{

    background:white;

    height:260px;

    display:flex;

    justify-content:center;

    align-items:center;

}

.featured-image img{

    width:90%;

    height:90%;

    object-fit:contain;

}

.featured-info{

    padding:22px;

}

.featured-info h3{

    color:white;

    font-size:22px;

    margin:0;

}

.featured-price{

    display:block;

    margin-top:14px;

    color:#00d95c;

    font-size:32px;

    font-weight:700;

}