.faq-section{

    width:100%;

    max-width:900px;

    margin:90px auto 0;

}

/*======================================
        LISTA
======================================*/

.faq-list{

    margin-top:10px;

}

.faq-row{

    border-bottom:1px solid var(--border);

}

/*======================================
        PREGUNTA
======================================*/

.faq-question{

    width:100%;

    padding:22px 0;

    background:none;

    border:none;

    color:white;

    cursor:pointer;

    display:flex;

    justify-content:space-between;

    align-items:center;

    font-size:16px;

    font-weight:700;

    text-align:left;

}

.faq-toggle{

    color:#C6FF3D;

    font-size:20px;

    font-weight:700;

}

/*======================================
        RESPUESTA
======================================*/

.faq-answer{

    padding:0 0 22px;

    max-width:600px;

    color:#9aa3b5;

    line-height:1.7;
}