/* ============================= */
/* Carrusel Productos Destacados */
/* ============================= */

.featured-products{

    width:100%;

    max-width:100%;

    overflow:hidden;

}

.featured-title{

    margin-bottom:30px;
    font-size:34px;
    font-weight:700;

}

.featured-slider{

    width:100%;
    overflow:hidden;
    padding:20px 0;

}
.featured-slider:hover .featured-card{

    opacity:.45;

    transform:scale(.96);

    transition:.35s;

}.featured-slider .featured-card:hover{

    opacity:1;

    transform:

        translateY(-10px)

        scale(1.04);

    z-index:20;

}

.featured-track{

    display:flex;
    gap:28px;
    padding:15px 0;
    width:max-content;


}

.featured-item{

    min-width:340px;

}

.featured-track:hover{

    animation-play-state:paused;

}.featured-card{

    width:260px;

}.related-products{

    margin-top:70px;

}

.related-products .featured-title{

    text-align:left;

    font-size:34px;

    margin-bottom:35px;

}