.footer-links{

    width:100%;
    max-width:1000px;

    margin:80px auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

}

.footer-link{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:15px;

    padding:24px;

    border:none;

    border-radius:20px;

    cursor:pointer;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    color:white;

    font-size:18px;

    font-weight:600;

    transition:.3s;

}

.footer-link svg{

    font-size:26px;

    color:#00c853;

}

.footer-link:hover{

    transform:translateY(-5px);

    background:rgba(255,255,255,.08);

    box-shadow:0 15px 40px rgba(0,0,0,.25);

}