.reviews-section{

    width:100%;
    max-width:1000px;

    margin:80px auto;

    text-align:center;

}

.reviews-title{

    font-size:34px;
    font-weight:700;

    margin-bottom:12px;

}

.reviews-average{

    color:#9fb2c8;

    font-size:18px;

    margin-bottom:35px;

}

.review-card{

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    border-radius:22px;

    padding:35px;

    backdrop-filter:blur(18px);

    box-shadow:

        0 15px 45px rgba(0,0,0,.25);

    transition:.35s;

}

.review-card:hover{

    transform:translateY(-6px);

    box-shadow:

        0 25px 60px rgba(0,0,0,.35);

}

.review-stars{

    display:flex;

    justify-content:center;

    gap:8px;

    margin-bottom:25px;

    color:#FFD54A;

    font-size:28px;

}

.review-text{

    font-size:22px;

    line-height:1.8;

    color:white;

    max-width:700px;

    margin:auto;

    font-style:italic;

}

.review-author{

    display:block;

    margin-top:28px;

    color:#7fd8ff;

    font-weight:600;

    font-size:16px;

}/*======================================
        REVIEW PREMIUM
======================================*/

.review-card{

    position:relative;

    overflow:hidden;

}

.review-card::before{

    content:"❝";

    position:absolute;

    top:-45px;

    left:25px;

    font-size:180px;

    color:rgba(255,255,255,.03);

    font-family:serif;

}

.review-card{

    animation:reviewFade .6s ease;

}

@keyframes reviewFade{

    from{

        opacity:0;

        transform:translateY(15px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.review-dots{

    display:flex;

    justify-content:center;

    gap:10px;

    margin-top:30px;

}

.dot{

    width:10px;

    height:10px;

    border-radius:50%;

    background:#444;

    transition:.35s;

}

.dot.active{

    width:28px;

    border-radius:20px;

    background:#4F46E5;

}